html, body { 
    height: 100%;
}

body {
    margin: 15px;
    color: whitesmoke;
    background: rgb(3,0,61);
    background: linear-gradient(90deg, rgba(3,0,61,1) 0%, rgba(73,5,89,1) 35%, rgba(64,0,255,1) 100%);
}
.Avatar {
    width: 150px;
    border-radius: 50px 50px 25px;
    border: 5px solid whitesmoke;
    box-shadow: 0px 0px 60px whitesmoke;
    margin-top: 15px;
    margin-left: 15px;
}
h1 {
    font-family: 'Architects Daughter', cursiva;
    margin-bottom: 0px;
}
h2 {
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
}
.Profile {
    text-align: center;
}
.Social img {
    width: 40px;
    margin: 10px;
}
.Social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 20px;
    padding: 0px;
}
.Links_Bottom {
    list-style: none;
    margin: 10px 15px;
    padding: 0px 0px;
    border: 5px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 0px 10px whitesmoke;
}
.Links_Bottom li {
    background-color: whitesmoke;
    padding: 10px 20px;
    border: 0px;
    border-radius: 15px;
}
.Links_Bottom li a {
    color:  rgba(73,5,89,1);
    background: whitesmoke;
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
}
.Links_Bottom li a span {
    color: grey;
    display: block;
    margin-top: 10px;
}
.Links_Bottom2 {
    list-style: none;
    margin: 10px 15px;
    padding: 0px 0px;
    border: 5px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.Links_Bottom2 li {
    background-color: whitesmoke;
    padding: 10px 20px;
    border: 0px;
    border-radius: 15px;
}
.Links_Bottom2 li a {
    color:  rgb(0, 0, 0);
    background: whitesmoke;
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
}
.Links_Bottom2 li a span {
    color: grey;
    display: block;
    margin-top: 10px;
}
.Rodapé {
    color: rgb(73, 5, 88);
    margin: 10px;
    text-align: right;
    list-style: none
}